*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

.grid{
  display: grid;
  grid-template-areas: "Header Header"
                       "Zone1 Zone2";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  margin: 200px;
  background: #12492f;
  border-radius: 10px;
  color: white;
}

.grid-head{
  display: grid;
  grid-area: Header;
  margin: 10px;
  justify-content: center;
}

.grid-title1{
  display: grid;
  grid-area: Zone1;
  padding-bottom: 10px;
  justify-content: center;
}

.grid-title2{
  display: grid;
  grid-area: Zone2;
  padding-bottom: 10px;
  justify-content: center;
}

button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
